<h1>GitHub Repo Stars</h1>
<br>
<%= form_tag home_search_path, method: 'get', 'data-turbo-frame' => 'stars-list' do %>
  <div class="input-group w-50">
    <span class="input-group-text">Repository</span>
    <%= text_field_tag 'repo', '', placeholder: 'rubygems/rubygems', class: 'form-control', required: true %>
    <%= submit_tag "Search", class: 'btn btn-outline-primary' %>
  </div>
<% end %>